<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cax.pmk"
    android:versionCode="240"
    android:versionName="2.4" >

    <!--  min is 4  to support Android 1.6 -->
    <!--  max is 10 to ensure soft menu button will be shown on modern versions of Android -->
    <uses-sdk
        android:minSdkVersion="4"
        android:targetSdkVersion="10" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.cax.pmk.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.FullScreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PreferencesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/PreferencesTheme" />
        <activity
            android:name=".SplashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.FullScreen" />
    </application>

</manifest>